<div class="grid hero responsive">
  <div class="hero__content">
    <div class="wrapper">
      <div class="grid product-single">
        <div class="grid__item large--one-half small--one-whole">
          <p class="hero__text">{{ settings.hero_text_1 }}</p>
          <h1 class="hero__title">{{ settings.hero_title_1 }}</h1>
          <br>
          <button class="btn hero__btn">
            <span>SHOP NOW</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="hero__content">
    <div class="wrapper">
      <div class="grid product-single">
        <div class="grid__item large--one-half small--one-whole">
          <p class="hero__text">{{ settings.hero_text_2 }}</p>
          <h1 class="hero__title">{{ settings.hero_title_2 }}</h1>
          <br>
          <button class="btn hero__btn">
            <span>SHOP NOW</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="hero__content">
    <div class="wrapper">
      <div class="grid product-single">
        <div class="grid__item large--one-half small--one-whole">
          <p class="hero__text">{{ settings.hero_text_3 }}</p>
          <h1 class="hero__title">{{ settings.hero_title_3 }}</h1>
          <br>
          <button class="btn hero__btn">
            <span>SHOP NOW</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper">

  {% section 'bestsellers.liquid' %}

</div>